<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tradecore.dao.BizAcquirerInfoDAO">
  <resultMap id="BaseResultMap" type="org.tradecore.dao.domain.BizAcquirerInfo">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ACQUIRER_ID" jdbcType="VARCHAR" property="acquirerId" />
    <result column="ACQUIRER_NAME" jdbcType="VARCHAR" property="acquirerName" />
    <result column="ACC_NO" jdbcType="VARCHAR" property="accNo" />
    <result column="ACC_NAME" jdbcType="VARCHAR" property="accName" />
    <result column="ACC_BANK_NO" jdbcType="VARCHAR" property="accBankNo" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="GMT_UPDATE" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.tradecore.dao.domain.BizAcquirerInfo">
    <result column="CHECK_CERT" jdbcType="BLOB" property="checkCert" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ACQUIRER_ID, ACQUIRER_NAME, ACC_NO, ACC_NAME, ACC_BANK_NO, STATUS, GMT_CREATE, 
    GMT_UPDATE
  </sql>
  <sql id="Blob_Column_List">
    CHECK_CERT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from BIZ_ACQUIRER_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from BIZ_ACQUIRER_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="org.tradecore.dao.domain.BizAcquirerInfo">
    insert into BIZ_ACQUIRER_INFO (ID, ACQUIRER_ID, ACQUIRER_NAME, 
      ACC_NO, ACC_NAME, ACC_BANK_NO, 
      STATUS, GMT_CREATE, GMT_UPDATE, 
      CHECK_CERT)
    values (#{id,jdbcType=DECIMAL}, #{acquirerId,jdbcType=VARCHAR}, #{acquirerName,jdbcType=VARCHAR}, 
      #{accNo,jdbcType=VARCHAR}, #{accName,jdbcType=VARCHAR}, #{accBankNo,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP}, 
      #{checkCert,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="org.tradecore.dao.domain.BizAcquirerInfo">
    insert into BIZ_ACQUIRER_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="acquirerId != null">
        ACQUIRER_ID,
      </if>
      <if test="acquirerName != null">
        ACQUIRER_NAME,
      </if>
      <if test="accNo != null">
        ACC_NO,
      </if>
      <if test="accName != null">
        ACC_NAME,
      </if>
      <if test="accBankNo != null">
        ACC_BANK_NO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE,
      </if>
      <if test="gmtUpdate != null">
        GMT_UPDATE,
      </if>
      <if test="checkCert != null">
        CHECK_CERT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="acquirerId != null">
        #{acquirerId,jdbcType=VARCHAR},
      </if>
      <if test="acquirerName != null">
        #{acquirerName,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null">
        #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="accName != null">
        #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accBankNo != null">
        #{accBankNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkCert != null">
        #{checkCert,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.tradecore.dao.domain.BizAcquirerInfo">
    update BIZ_ACQUIRER_INFO
    <set>
      <if test="acquirerId != null">
        ACQUIRER_ID = #{acquirerId,jdbcType=VARCHAR},
      </if>
      <if test="acquirerName != null">
        ACQUIRER_NAME = #{acquirerName,jdbcType=VARCHAR},
      </if>
      <if test="accNo != null">
        ACC_NO = #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="accName != null">
        ACC_NAME = #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accBankNo != null">
        ACC_BANK_NO = #{accBankNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        GMT_UPDATE = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkCert != null">
        CHECK_CERT = #{checkCert,jdbcType=BLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.tradecore.dao.domain.BizAcquirerInfo">
    update BIZ_ACQUIRER_INFO
    set ACQUIRER_ID = #{acquirerId,jdbcType=VARCHAR},
      ACQUIRER_NAME = #{acquirerName,jdbcType=VARCHAR},
      ACC_NO = #{accNo,jdbcType=VARCHAR},
      ACC_NAME = #{accName,jdbcType=VARCHAR},
      ACC_BANK_NO = #{accBankNo,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_UPDATE = #{gmtUpdate,jdbcType=TIMESTAMP},
      CHECK_CERT = #{checkCert,jdbcType=BLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.tradecore.dao.domain.BizAcquirerInfo">
    update BIZ_ACQUIRER_INFO
    set ACQUIRER_ID = #{acquirerId,jdbcType=VARCHAR},
      ACQUIRER_NAME = #{acquirerName,jdbcType=VARCHAR},
      ACC_NO = #{accNo,jdbcType=VARCHAR},
      ACC_NAME = #{accName,jdbcType=VARCHAR},
      ACC_BANK_NO = #{accBankNo,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_UPDATE = #{gmtUpdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>