<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tradecore.dao.BizAlipayCancelOrderDAO">
  <resultMap id="BaseResultMap" type="org.tradecore.dao.domain.BizAlipayCancelOrder">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ACQUIRER_ID" jdbcType="VARCHAR" property="acquirerId" />
    <result column="MERCHANT_ID" jdbcType="VARCHAR" property="merchantId" />
    <result column="TRADE_NO" jdbcType="VARCHAR" property="tradeNo" />
    <result column="ALIPAY_TRADE_NO" jdbcType="VARCHAR" property="alipayTradeNo" />
    <result column="OUT_TRADE_NO" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="TOTAL_AMOUNT" jdbcType="DECIMAL" property="totalAmount" />
    <result column="RETRY_FLAG" jdbcType="CHAR" property="retryFlag" />
    <result column="ACTION" jdbcType="VARCHAR" property="action" />
    <result column="CANCEL_STATUS" jdbcType="VARCHAR" property="cancelStatus" />
    <result column="RETURN_DETAIL" jdbcType="VARCHAR" property="returnDetail" />
    <result column="CREATE_DATE" jdbcType="CHAR" property="createDate" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="GMT_UPDATE" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ACQUIRER_ID, MERCHANT_ID, TRADE_NO, ALIPAY_TRADE_NO, OUT_TRADE_NO, TOTAL_AMOUNT, 
    RETRY_FLAG, ACTION, CANCEL_STATUS, RETURN_DETAIL, CREATE_DATE, GMT_CREATE, GMT_UPDATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BIZ_ALIPAY_CANCEL_ORDER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BIZ_ALIPAY_CANCEL_ORDER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.tradecore.dao.domain.BizAlipayCancelOrder">
    insert into BIZ_ALIPAY_CANCEL_ORDER (ID, ACQUIRER_ID, MERCHANT_ID, 
      TRADE_NO, ALIPAY_TRADE_NO, OUT_TRADE_NO, 
      TOTAL_AMOUNT, RETRY_FLAG, ACTION, 
      CANCEL_STATUS, RETURN_DETAIL, CREATE_DATE, 
      GMT_CREATE, GMT_UPDATE)
    values (#{id,jdbcType=VARCHAR}, #{acquirerId,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR}, 
      #{tradeNo,jdbcType=VARCHAR}, #{alipayTradeNo,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, 
      #{totalAmount,jdbcType=DECIMAL}, #{retryFlag,jdbcType=CHAR}, #{action,jdbcType=VARCHAR}, 
      #{cancelStatus,jdbcType=VARCHAR}, #{returnDetail,jdbcType=VARCHAR}, #{createDate,jdbcType=CHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.tradecore.dao.domain.BizAlipayCancelOrder">
    insert into BIZ_ALIPAY_CANCEL_ORDER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="acquirerId != null">
        ACQUIRER_ID,
      </if>
      <if test="merchantId != null">
        MERCHANT_ID,
      </if>
      <if test="tradeNo != null">
        TRADE_NO,
      </if>
      <if test="alipayTradeNo != null">
        ALIPAY_TRADE_NO,
      </if>
      <if test="outTradeNo != null">
        OUT_TRADE_NO,
      </if>
      <if test="totalAmount != null">
        TOTAL_AMOUNT,
      </if>
      <if test="retryFlag != null">
        RETRY_FLAG,
      </if>
      <if test="action != null">
        ACTION,
      </if>
      <if test="cancelStatus != null">
        CANCEL_STATUS,
      </if>
      <if test="returnDetail != null">
        RETURN_DETAIL,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE,
      </if>
      <if test="gmtUpdate != null">
        GMT_UPDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="acquirerId != null">
        #{acquirerId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="alipayTradeNo != null">
        #{alipayTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="retryFlag != null">
        #{retryFlag,jdbcType=CHAR},
      </if>
      <if test="action != null">
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="cancelStatus != null">
        #{cancelStatus,jdbcType=VARCHAR},
      </if>
      <if test="returnDetail != null">
        #{returnDetail,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.tradecore.dao.domain.BizAlipayCancelOrder">
    update BIZ_ALIPAY_CANCEL_ORDER
    <set>
      <if test="acquirerId != null">
        ACQUIRER_ID = #{acquirerId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        MERCHANT_ID = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null">
        TRADE_NO = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="alipayTradeNo != null">
        ALIPAY_TRADE_NO = #{alipayTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        OUT_TRADE_NO = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="retryFlag != null">
        RETRY_FLAG = #{retryFlag,jdbcType=CHAR},
      </if>
      <if test="action != null">
        ACTION = #{action,jdbcType=VARCHAR},
      </if>
      <if test="cancelStatus != null">
        CANCEL_STATUS = #{cancelStatus,jdbcType=VARCHAR},
      </if>
      <if test="returnDetail != null">
        RETURN_DETAIL = #{returnDetail,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        GMT_UPDATE = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.tradecore.dao.domain.BizAlipayCancelOrder">
    update BIZ_ALIPAY_CANCEL_ORDER
    set ACQUIRER_ID = #{acquirerId,jdbcType=VARCHAR},
      MERCHANT_ID = #{merchantId,jdbcType=VARCHAR},
      TRADE_NO = #{tradeNo,jdbcType=VARCHAR},
      ALIPAY_TRADE_NO = #{alipayTradeNo,jdbcType=VARCHAR},
      OUT_TRADE_NO = #{outTradeNo,jdbcType=VARCHAR},
      TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      RETRY_FLAG = #{retryFlag,jdbcType=CHAR},
      ACTION = #{action,jdbcType=VARCHAR},
      CANCEL_STATUS = #{cancelStatus,jdbcType=VARCHAR},
      RETURN_DETAIL = #{returnDetail,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=CHAR},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_UPDATE = #{gmtUpdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

	<!-- 根据条件查询撤销订单 -->
	<select id="selectCancelOrders" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BIZ_ALIPAY_CANCEL_ORDER where
		1 = 1
		<if test="_parameter.containsKey('merchantId')">
			AND MERCHANT_ID = #{merchantId}
		</if>
		<if test="_parameter.containsKey('outTradeNo')">
			AND OUT_TRADE_NO = #{outTradeNo}
		</if>
		<if test="_parameter.containsKey('cancelStatus')">
			AND CANCEL_STATUS = #{cancelStatus}
		</if>
		<if test="_parameter.containsKey('alipayTradeNo')">
			AND ALIPAY_TRADE_NO = #{alipayTradeNo}
		</if>
	</select>
  
</mapper>