<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tradecore.dao.BizAcquirerInfoDAO">
  <resultMap id="BaseResultMap" type="org.tradecore.dao.domain.BizAcquirerInfo">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ACQUIRER_ID" jdbcType="VARCHAR" property="acquirerId" />
    <result column="ACQUIRER_NAME" jdbcType="VARCHAR" property="acquirerName" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="SIGN_TYPE" jdbcType="VARCHAR" property="signType" />
    <result column="FEE" jdbcType="DECIMAL" property="fee" />
    <result column="ACC_NO" jdbcType="VARCHAR" property="accNo" />
    <result column="ACC_NAME" jdbcType="VARCHAR" property="accName" />
    <result column="ACC_BANK_NO" jdbcType="VARCHAR" property="accBankNo" />
    <result column="PUB_KEY" jdbcType="VARCHAR" property="pubKey" />
    <result column="PRI_KEY" jdbcType="VARCHAR" property="priKey" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="GMT_UPDATE" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ACQUIRER_ID, ACQUIRER_NAME, APP_ID, SIGN_TYPE, FEE, ACC_NO, ACC_NAME, ACC_BANK_NO, 
    PUB_KEY, PRI_KEY, STATUS, GMT_CREATE, GMT_UPDATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BIZ_ACQUIRER_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from BIZ_ACQUIRER_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="org.tradecore.dao.domain.BizAcquirerInfo">
    insert into BIZ_ACQUIRER_INFO (ID, ACQUIRER_ID, ACQUIRER_NAME, 
      APP_ID, SIGN_TYPE, FEE, 
      ACC_NO, ACC_NAME, ACC_BANK_NO, 
      PUB_KEY, PRI_KEY, STATUS, 
      GMT_CREATE, GMT_UPDATE)
    values (#{id,jdbcType=DECIMAL}, #{acquirerId,jdbcType=VARCHAR}, #{acquirerName,jdbcType=VARCHAR}, 
      #{appId,jdbcType=VARCHAR}, #{signType,jdbcType=VARCHAR}, #{fee,jdbcType=DECIMAL}, 
      #{accNo,jdbcType=VARCHAR}, #{accName,jdbcType=VARCHAR}, #{accBankNo,jdbcType=VARCHAR}, 
      #{pubKey,jdbcType=VARCHAR}, #{priKey,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.tradecore.dao.domain.BizAcquirerInfo">
    insert into BIZ_ACQUIRER_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="acquirerId != null">
        ACQUIRER_ID,
      </if>
      <if test="acquirerName != null">
        ACQUIRER_NAME,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="signType != null">
        SIGN_TYPE,
      </if>
      <if test="fee != null">
        FEE,
      </if>
      <if test="accNo != null">
        ACC_NO,
      </if>
      <if test="accName != null">
        ACC_NAME,
      </if>
      <if test="accBankNo != null">
        ACC_BANK_NO,
      </if>
      <if test="pubKey != null">
        PUB_KEY,
      </if>
      <if test="priKey != null">
        PRI_KEY,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE,
      </if>
      <if test="gmtUpdate != null">
        GMT_UPDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="acquirerId != null">
        #{acquirerId,jdbcType=VARCHAR},
      </if>
      <if test="acquirerName != null">
        #{acquirerName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        #{signType,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="accNo != null">
        #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="accName != null">
        #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accBankNo != null">
        #{accBankNo,jdbcType=VARCHAR},
      </if>
      <if test="pubKey != null">
        #{pubKey,jdbcType=VARCHAR},
      </if>
      <if test="priKey != null">
        #{priKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.tradecore.dao.domain.BizAcquirerInfo">
    update BIZ_ACQUIRER_INFO
    <set>
      <if test="acquirerId != null">
        ACQUIRER_ID = #{acquirerId,jdbcType=VARCHAR},
      </if>
      <if test="acquirerName != null">
        ACQUIRER_NAME = #{acquirerName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        SIGN_TYPE = #{signType,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        FEE = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="accNo != null">
        ACC_NO = #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="accName != null">
        ACC_NAME = #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accBankNo != null">
        ACC_BANK_NO = #{accBankNo,jdbcType=VARCHAR},
      </if>
      <if test="pubKey != null">
        PUB_KEY = #{pubKey,jdbcType=VARCHAR},
      </if>
      <if test="priKey != null">
        PRI_KEY = #{priKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        GMT_UPDATE = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.tradecore.dao.domain.BizAcquirerInfo">
    update BIZ_ACQUIRER_INFO
    set ACQUIRER_ID = #{acquirerId,jdbcType=VARCHAR},
      ACQUIRER_NAME = #{acquirerName,jdbcType=VARCHAR},
      APP_ID = #{appId,jdbcType=VARCHAR},
      SIGN_TYPE = #{signType,jdbcType=VARCHAR},
      FEE = #{fee,jdbcType=DECIMAL},
      ACC_NO = #{accNo,jdbcType=VARCHAR},
      ACC_NAME = #{accName,jdbcType=VARCHAR},
      ACC_BANK_NO = #{accBankNo,jdbcType=VARCHAR},
      PUB_KEY = #{pubKey,jdbcType=VARCHAR},
      PRI_KEY = #{priKey,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_UPDATE = #{gmtUpdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

	<!-- 查询受理机构信息 -->
	<select id="selectBizAcquirerInfo" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BIZ_ACQUIRER_INFO
		where 1 = 1
		<if test="_parameter.containsKey('acquirerId')">
			AND ACQUIRER_ID = #{acquirerId}
		</if>
		<if test="_parameter.containsKey('status')">
			AND STATUS = #{status}
		</if>
	</select>
	
	
  
</mapper>