<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tradecore.dao.BizMerchantInfoDAO">
  <resultMap id="BaseResultMap" type="org.tradecore.dao.domain.BizMerchantInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ACQUIRER_ID" jdbcType="VARCHAR" property="acquirerId" />
    <result column="EXTERNAL_ID" jdbcType="VARCHAR" property="externalId" />
    <result column="OUT_EXTERNAL_ID" jdbcType="VARCHAR" property="outExternalId" />
    <result column="MERCHANT_ID" jdbcType="VARCHAR" property="merchantId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ALIAS_NAME" jdbcType="VARCHAR" property="aliasName" />
    <result column="SERVICE_PHONE" jdbcType="VARCHAR" property="servicePhone" />
    <result column="CONTACT_NAME" jdbcType="VARCHAR" property="contactName" />
    <result column="CONTACT_PHONE" jdbcType="VARCHAR" property="contactPhone" />
    <result column="CONTACT_MOBILE" jdbcType="VARCHAR" property="contactMobile" />
    <result column="CONTACT_EMAIL" jdbcType="VARCHAR" property="contactEmail" />
    <result column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="RETURN_DETAIL" jdbcType="VARCHAR" property="returnDetail" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="GMT_UPDATE" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ACQUIRER_ID, EXTERNAL_ID, OUT_EXTERNAL_ID, MERCHANT_ID, NAME, ALIAS_NAME, SERVICE_PHONE, 
    CONTACT_NAME, CONTACT_PHONE, CONTACT_MOBILE, CONTACT_EMAIL, CATEGORY_ID, SOURCE, 
    MEMO, STATUS, RETURN_DETAIL, GMT_CREATE, GMT_UPDATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BIZ_MERCHANT_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BIZ_MERCHANT_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.tradecore.dao.domain.BizMerchantInfo">
    insert into BIZ_MERCHANT_INFO (ID, ACQUIRER_ID, EXTERNAL_ID, 
      OUT_EXTERNAL_ID, MERCHANT_ID, NAME, 
      ALIAS_NAME, SERVICE_PHONE, CONTACT_NAME, 
      CONTACT_PHONE, CONTACT_MOBILE, CONTACT_EMAIL, 
      CATEGORY_ID, SOURCE, MEMO, 
      STATUS, RETURN_DETAIL, GMT_CREATE, 
      GMT_UPDATE)
    values (#{id,jdbcType=VARCHAR}, #{acquirerId,jdbcType=VARCHAR}, #{externalId,jdbcType=VARCHAR}, 
      #{outExternalId,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{aliasName,jdbcType=VARCHAR}, #{servicePhone,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, 
      #{contactPhone,jdbcType=VARCHAR}, #{contactMobile,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{returnDetail,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.tradecore.dao.domain.BizMerchantInfo">
    insert into BIZ_MERCHANT_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="acquirerId != null">
        ACQUIRER_ID,
      </if>
      <if test="externalId != null">
        EXTERNAL_ID,
      </if>
      <if test="outExternalId != null">
        OUT_EXTERNAL_ID,
      </if>
      <if test="merchantId != null">
        MERCHANT_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="aliasName != null">
        ALIAS_NAME,
      </if>
      <if test="servicePhone != null">
        SERVICE_PHONE,
      </if>
      <if test="contactName != null">
        CONTACT_NAME,
      </if>
      <if test="contactPhone != null">
        CONTACT_PHONE,
      </if>
      <if test="contactMobile != null">
        CONTACT_MOBILE,
      </if>
      <if test="contactEmail != null">
        CONTACT_EMAIL,
      </if>
      <if test="categoryId != null">
        CATEGORY_ID,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="returnDetail != null">
        RETURN_DETAIL,
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE,
      </if>
      <if test="gmtUpdate != null">
        GMT_UPDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="acquirerId != null">
        #{acquirerId,jdbcType=VARCHAR},
      </if>
      <if test="externalId != null">
        #{externalId,jdbcType=VARCHAR},
      </if>
      <if test="outExternalId != null">
        #{outExternalId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null">
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null">
        #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null">
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="returnDetail != null">
        #{returnDetail,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.tradecore.dao.domain.BizMerchantInfo">
    update BIZ_MERCHANT_INFO
    <set>
      <if test="acquirerId != null">
        ACQUIRER_ID = #{acquirerId,jdbcType=VARCHAR},
      </if>
      <if test="externalId != null">
        EXTERNAL_ID = #{externalId,jdbcType=VARCHAR},
      </if>
      <if test="outExternalId != null">
        OUT_EXTERNAL_ID = #{outExternalId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        MERCHANT_ID = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null">
        ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null">
        SERVICE_PHONE = #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null">
        CONTACT_MOBILE = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        CONTACT_EMAIL = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        SOURCE = #{source,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="returnDetail != null">
        RETURN_DETAIL = #{returnDetail,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        GMT_UPDATE = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.tradecore.dao.domain.BizMerchantInfo">
    update BIZ_MERCHANT_INFO
    set ACQUIRER_ID = #{acquirerId,jdbcType=VARCHAR},
      EXTERNAL_ID = #{externalId,jdbcType=VARCHAR},
      OUT_EXTERNAL_ID = #{outExternalId,jdbcType=VARCHAR},
      MERCHANT_ID = #{merchantId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      SERVICE_PHONE = #{servicePhone,jdbcType=VARCHAR},
      CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      CONTACT_MOBILE = #{contactMobile,jdbcType=VARCHAR},
      CONTACT_EMAIL = #{contactEmail,jdbcType=VARCHAR},
      CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      SOURCE = #{source,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      RETURN_DETAIL = #{returnDetail,jdbcType=VARCHAR},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_UPDATE = #{gmtUpdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

	<!-- 加锁查询 -->
	<select id="selectForUpdate" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BIZ_MERCHANT_INFO
		where 1 = 1
		<if test="_parameter.containsKey('acquirerId')">
			AND ACQUIRER_ID = #{acquirerId}
		</if>
		<if test="_parameter.containsKey('externalId')">
			AND EXTERNAL_ID = #{externalId}
		</if>
		<if test="_parameter.containsKey('merchantId')">
			AND MERCHANT_ID = #{merchantId}
		</if>
		for update
	</select>

	<!-- 普通查询 -->
	<select id="selectMerchant" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BIZ_MERCHANT_INFO
		where 1 = 1
		<if test="_parameter.containsKey('acquirerId')">
			AND ACQUIRER_ID = #{acquirerId}
		</if>
		<if test="_parameter.containsKey('merchantId')">
			AND MERCHANT_ID = #{merchantId}
		</if>
		<if test="_parameter.containsKey('status')">
			AND STATUS = #{status}
		</if>
	</select>

	<select id="selectNormalMerchant" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BIZ_MERCHANT_INFO
		where merchant_id = #{merchantId}
		and status =
		#{status}
		and acquirer_id in (select acquirer_id
		from biz_acquirer_info
		where acquirer_id = #{acquirerId}
		and status = #{status})
	</select>
  
</mapper>