<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tradecore.dao.BizAlipayRefundOrderDAO">
  <resultMap id="BaseResultMap" type="org.tradecore.dao.domain.BizAlipayRefundOrder">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ACQUIRER_ID" jdbcType="VARCHAR" property="acquirerId" />
    <result column="MERCHANT_ID" jdbcType="VARCHAR" property="merchantId" />
    <result column="ALIPAY_TRADE_NO" jdbcType="VARCHAR" property="alipayTradeNo" />
    <result column="OUT_TRADE_NO" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="TOTAL_AMOUNT" jdbcType="DECIMAL" property="totalAmount" />
    <result column="REFUND_AMOUNT" jdbcType="DECIMAL" property="refundAmount" />
    <result column="SEND_BACK_FEE" jdbcType="DECIMAL" property="sendBackFee" />
    <result column="REFUND_REASON" jdbcType="VARCHAR" property="refundReason" />
    <result column="OUT_REQUEST_NO" jdbcType="VARCHAR" property="outRequestNo" />
    <result column="REFUND_STATUS" jdbcType="VARCHAR" property="refundStatus" />
    <result column="MERCHANT_DETAIL" jdbcType="VARCHAR" property="merchantDetail" />
    <result column="FUND_CHANGE" jdbcType="CHAR" property="fundChange" />
    <result column="REFUND_DETAIL_ITEM_LIST" jdbcType="VARCHAR" property="refundDetailItemList" />
    <result column="BUYER_USER_ID" jdbcType="VARCHAR" property="buyerUserId" />
    <result column="CHECK_STATUS" jdbcType="VARCHAR" property="checkStatus" />
    <result column="CHECK_DATE" jdbcType="CHAR" property="checkDate" />
    <result column="RETURN_DETAIL" jdbcType="VARCHAR" property="returnDetail" />
    <result column="CREATE_DATE" jdbcType="CHAR" property="createDate" />
    <result column="GMT_REFUND_PAY" jdbcType="TIMESTAMP" property="gmtRefundPay" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="GMT_UPDATE" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ACQUIRER_ID, MERCHANT_ID, ALIPAY_TRADE_NO, OUT_TRADE_NO, TOTAL_AMOUNT, REFUND_AMOUNT, 
    SEND_BACK_FEE, REFUND_REASON, OUT_REQUEST_NO, REFUND_STATUS, MERCHANT_DETAIL, FUND_CHANGE, 
    REFUND_DETAIL_ITEM_LIST, BUYER_USER_ID, CHECK_STATUS, CHECK_DATE, RETURN_DETAIL, 
    CREATE_DATE, GMT_REFUND_PAY, GMT_CREATE, GMT_UPDATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BIZ_ALIPAY_REFUND_ORDER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BIZ_ALIPAY_REFUND_ORDER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.tradecore.dao.domain.BizAlipayRefundOrder">
    insert into BIZ_ALIPAY_REFUND_ORDER (ID, ACQUIRER_ID, MERCHANT_ID, 
      ALIPAY_TRADE_NO, OUT_TRADE_NO, TOTAL_AMOUNT, 
      REFUND_AMOUNT, SEND_BACK_FEE, REFUND_REASON, 
      OUT_REQUEST_NO, REFUND_STATUS, MERCHANT_DETAIL, 
      FUND_CHANGE, REFUND_DETAIL_ITEM_LIST, BUYER_USER_ID, 
      CHECK_STATUS, CHECK_DATE, RETURN_DETAIL, 
      CREATE_DATE, GMT_REFUND_PAY, GMT_CREATE, 
      GMT_UPDATE)
    values (#{id,jdbcType=VARCHAR}, #{acquirerId,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR}, 
      #{alipayTradeNo,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, 
      #{refundAmount,jdbcType=DECIMAL}, #{sendBackFee,jdbcType=DECIMAL}, #{refundReason,jdbcType=VARCHAR}, 
      #{outRequestNo,jdbcType=VARCHAR}, #{refundStatus,jdbcType=VARCHAR}, #{merchantDetail,jdbcType=VARCHAR}, 
      #{fundChange,jdbcType=CHAR}, #{refundDetailItemList,jdbcType=VARCHAR}, #{buyerUserId,jdbcType=VARCHAR}, 
      #{checkStatus,jdbcType=VARCHAR}, #{checkDate,jdbcType=CHAR}, #{returnDetail,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=CHAR}, #{gmtRefundPay,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.tradecore.dao.domain.BizAlipayRefundOrder">
    insert into BIZ_ALIPAY_REFUND_ORDER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="acquirerId != null">
        ACQUIRER_ID,
      </if>
      <if test="merchantId != null">
        MERCHANT_ID,
      </if>
      <if test="alipayTradeNo != null">
        ALIPAY_TRADE_NO,
      </if>
      <if test="outTradeNo != null">
        OUT_TRADE_NO,
      </if>
      <if test="totalAmount != null">
        TOTAL_AMOUNT,
      </if>
      <if test="refundAmount != null">
        REFUND_AMOUNT,
      </if>
      <if test="sendBackFee != null">
        SEND_BACK_FEE,
      </if>
      <if test="refundReason != null">
        REFUND_REASON,
      </if>
      <if test="outRequestNo != null">
        OUT_REQUEST_NO,
      </if>
      <if test="refundStatus != null">
        REFUND_STATUS,
      </if>
      <if test="merchantDetail != null">
        MERCHANT_DETAIL,
      </if>
      <if test="fundChange != null">
        FUND_CHANGE,
      </if>
      <if test="refundDetailItemList != null">
        REFUND_DETAIL_ITEM_LIST,
      </if>
      <if test="buyerUserId != null">
        BUYER_USER_ID,
      </if>
      <if test="checkStatus != null">
        CHECK_STATUS,
      </if>
      <if test="checkDate != null">
        CHECK_DATE,
      </if>
      <if test="returnDetail != null">
        RETURN_DETAIL,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="gmtRefundPay != null">
        GMT_REFUND_PAY,
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE,
      </if>
      <if test="gmtUpdate != null">
        GMT_UPDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="acquirerId != null">
        #{acquirerId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="alipayTradeNo != null">
        #{alipayTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null">
        #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="sendBackFee != null">
        #{sendBackFee,jdbcType=DECIMAL},
      </if>
      <if test="refundReason != null">
        #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="outRequestNo != null">
        #{outRequestNo,jdbcType=VARCHAR},
      </if>
      <if test="refundStatus != null">
        #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="merchantDetail != null">
        #{merchantDetail,jdbcType=VARCHAR},
      </if>
      <if test="fundChange != null">
        #{fundChange,jdbcType=CHAR},
      </if>
      <if test="refundDetailItemList != null">
        #{refundDetailItemList,jdbcType=VARCHAR},
      </if>
      <if test="buyerUserId != null">
        #{buyerUserId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        #{checkDate,jdbcType=CHAR},
      </if>
      <if test="returnDetail != null">
        #{returnDetail,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=CHAR},
      </if>
      <if test="gmtRefundPay != null">
        #{gmtRefundPay,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.tradecore.dao.domain.BizAlipayRefundOrder">
    update BIZ_ALIPAY_REFUND_ORDER
    <set>
      <if test="acquirerId != null">
        ACQUIRER_ID = #{acquirerId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        MERCHANT_ID = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="alipayTradeNo != null">
        ALIPAY_TRADE_NO = #{alipayTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        OUT_TRADE_NO = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null">
        REFUND_AMOUNT = #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="sendBackFee != null">
        SEND_BACK_FEE = #{sendBackFee,jdbcType=DECIMAL},
      </if>
      <if test="refundReason != null">
        REFUND_REASON = #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="outRequestNo != null">
        OUT_REQUEST_NO = #{outRequestNo,jdbcType=VARCHAR},
      </if>
      <if test="refundStatus != null">
        REFUND_STATUS = #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="merchantDetail != null">
        MERCHANT_DETAIL = #{merchantDetail,jdbcType=VARCHAR},
      </if>
      <if test="fundChange != null">
        FUND_CHANGE = #{fundChange,jdbcType=CHAR},
      </if>
      <if test="refundDetailItemList != null">
        REFUND_DETAIL_ITEM_LIST = #{refundDetailItemList,jdbcType=VARCHAR},
      </if>
      <if test="buyerUserId != null">
        BUYER_USER_ID = #{buyerUserId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null">
        CHECK_STATUS = #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        CHECK_DATE = #{checkDate,jdbcType=CHAR},
      </if>
      <if test="returnDetail != null">
        RETURN_DETAIL = #{returnDetail,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=CHAR},
      </if>
      <if test="gmtRefundPay != null">
        GMT_REFUND_PAY = #{gmtRefundPay,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        GMT_UPDATE = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.tradecore.dao.domain.BizAlipayRefundOrder">
    update BIZ_ALIPAY_REFUND_ORDER
    set ACQUIRER_ID = #{acquirerId,jdbcType=VARCHAR},
      MERCHANT_ID = #{merchantId,jdbcType=VARCHAR},
      ALIPAY_TRADE_NO = #{alipayTradeNo,jdbcType=VARCHAR},
      OUT_TRADE_NO = #{outTradeNo,jdbcType=VARCHAR},
      TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      REFUND_AMOUNT = #{refundAmount,jdbcType=DECIMAL},
      SEND_BACK_FEE = #{sendBackFee,jdbcType=DECIMAL},
      REFUND_REASON = #{refundReason,jdbcType=VARCHAR},
      OUT_REQUEST_NO = #{outRequestNo,jdbcType=VARCHAR},
      REFUND_STATUS = #{refundStatus,jdbcType=VARCHAR},
      MERCHANT_DETAIL = #{merchantDetail,jdbcType=VARCHAR},
      FUND_CHANGE = #{fundChange,jdbcType=CHAR},
      REFUND_DETAIL_ITEM_LIST = #{refundDetailItemList,jdbcType=VARCHAR},
      BUYER_USER_ID = #{buyerUserId,jdbcType=VARCHAR},
      CHECK_STATUS = #{checkStatus,jdbcType=VARCHAR},
      CHECK_DATE = #{checkDate,jdbcType=CHAR},
      RETURN_DETAIL = #{returnDetail,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=CHAR},
      GMT_REFUND_PAY = #{gmtRefundPay,jdbcType=TIMESTAMP},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_UPDATE = #{gmtUpdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>